[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = David Jones
	email = unixmonkey1@gmail.com
[core]
	excludesfile = ~/.gitignore_global
#  pager = "delta --theme='Monokai Extended'"
  pager = "delta --theme='1337'"
	attributesfile = /Users/djones/.gitattributes
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
